*{
    font-family: sans-serif;
}

.row {
    display: flex;
}

button {
    cursor: pointer;
}

ul li {
    list-style: none;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    background-image: url(images/unchecked.png);
    font: rgb(0, 128, 57);
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
    font: rgb(0, 255, 68);
}

ul li span{
    position: absolute;
    font-size: 20px;
    border-radius: 50%;
}

ul li span:hover {
    background: #cccdce;
}